Exams/
*~
*.log
*.aux
*.synctex.gz
.ipynb_checkpoints/
*.mp4
exams/
images/
figures/
*~
*.out
*.autosave.xopp
*.fdb_latexmk
*.fls
worksheets/2021-fall-hints
worksheets/2022-fall-hints
worksheets/figures
worksheets/2023-fall-hints
worksheets/2020-fall-hints
worksheets/2025-fall-hints
worksheets/2024-fall-hints
.DS_Store
